@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500&family=Inter:wght@400;500&family=Merriweather:wght@400;700&family=Poppins:wght@400;500&family=Quicksand:wght@500;600&family=Space+Mono:wght@400;700&display=swap');
/* 
font-family: 'Hahmlet', serif;
font-family: 'Kaisei Tokumin', serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Sora', sans-serif;
font-family: 'Space Mono', monospace;
font-family: 'Varela Round', sans-serif;
*/
